.nav {
  width: 6.9rem;
  height: 3.64rem;
  margin: -2.16rem auto 0;
  overflow: hidden;
  font-size: 0.12rem;
  background-color: #fff;
  border-radius: 0.06rem;
  box-shadow: 0 0.06rem 0.15rem 0 hsla(0, 0%, 88%, 0.41);
  transform: translateZ(0);
}

._19_60 {
  display: inline-block;
  text-align: center;
  margin: 0.32rem 0.36rem 0.12rem 0;
  outline: none; /*移除超链的虚线框  IE8,FF有用*/
}
.slick-track {
  width: 690px;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
.slide {
  margin: 0 auto;
  width: 0.64rem;
  height: 0.64rem;
}
.slick-slide {
  width: 345px;
  outline: none;
}
.slick-slide img {
  display: block;
}
.title {
  font-family: PingFangSC-Regular;
  font-size: 3.84px;
  font-size: 0.24rem;
  color: #393939;
  letter-spacing: 0;
  line-height: 4.16px;
  line-height: 0.26rem;
  display: inline-block;
  width: 22.08px;
  width: 1.38rem;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 1.92px;
  margin-top: 0.12rem;
}
