.nav {
  width: 6.9rem;
  height: 3.64rem;
  margin: -2.16rem auto 0;
  overflow: hidden;
  font-size: 0.12rem;
  background-color: #fff;
  border-radius: 0.06rem;
  box-shadow: 0 0.06rem 0.15rem 0 hsla(0, 0%, 88%, 0.41);
  transform: translateZ(0);
}

.slidediv {
  text-align: left;
  padding-left: 0.16rem;
}
._19_60 {
  display: inline-block;
  text-align: center;
  margin: 0.32rem 0.36rem 0.12rem 0;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-track {
  width: 690px;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
.slick-track:before {
  display: table;
  content: '';
}
.navslide {
  margin: 0 auto;
  width: 0.64rem;
  height: 0.64rem;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-slide img {
  display: block;
}
.title {
  font-family: PingFangSC-Regular;
  font-size: 0.24rem;
  color: #393939;
  letter-spacing: 0;
  line-height: 0.26rem;
  display: inline-block;
  width: 1.38rem;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 0.12rem;
}
