html {
  font-size: 13.334vw;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

body {
  font-size: 0.4rem;
}

h1,
h2,
h3,
h4,
h5,
ul,
p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

:root {
  --main-bg-color: red;
}

button {
  padding: 0;
  margin: 0;
  background-color: inherit;
  border: none;
  outline: none;
}

.border-b-1px,
.border-t-1px,
.border-all-1px {
  position: relative;
}

/* 四周1px */

.border-b-1px::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  color: #e6e6e6;
  content: '';
  border-bottom:  1px solid #e6e6e6;
}

@media (min-resolution:2dppx) {
  .border-b-1px::after{
    transform: scaleY(0.5);
  }
}

.home-banners .banner-dots {
  position: absolute;
  top: 3.06rem;
  right: 0.3rem;
  line-height: 0.01rem;
}

.home-banners .banner-dots li {
  display: inline-block;
  width: 0.14rem;
  height: 0.18rem;
  margin: 0.05rem;
  background: url('../public/img/dot_grey.png');
  background-size: 100%;
}
.home-banners .banner-dots .slick-active {
  background: url('../public/img/dot.jpg');
  background-size: 100%;
}
.home-banners .banner-dots li button {
  display: none;
}

.nav-dots {
  text-align: center;
  width: 100%;
  margin-top: 0.18rem;
}
.nav-dots li.slick-active {
  background: rgba(196, 192, 192, 1);
  border: 0.01rem solid rgba(196, 192, 192, 1);
}

.nav-dots li {
  display: inline-block;
  height: 0.14rem;
  width: 0.14rem;
  border-radius: 0.14rem;
  background-color: rgba(224, 224, 224, 0.6);
  border: 0.01rem solid rgba(224, 224, 224, 0.6);
  margin: 0 0.2rem 0 0;
}

.nav-dots li button {
  display: none;
}
